---
---
.content-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 25px;
}
@media screen and (max-device-width: 480px) {
  
}
.wiki-page {
  .backlink {
    font-size: larger;
  }
}
.index {
  .keywords {
    margin-left: 15px;
    font-size: small;
    color: lightgray;
  }
}
