---
---
.content-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 25px;
}
@media screen and (max-device-width: 480px) {

}
.wiki-page {
  .backlink {
    font-size: larger;
  }
}
.index {
  .keywords {
    margin-left: 15px;
    font-size: small;
    color: lightgray;
  }
}

.block {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
}

.green {
  border-color: green;
  background-color: #cdffcd;
}
.red {
  border-color: red;
  background-color: #ff8680;
}
#previewModal {
  iframe {
    width: 100%;
    height: calc(100vh - 200px);
  }
}
@media(min-width: 900px) {
  #previewModal .modal-dialog {
    width: 850px;
  }
}
